.contactList {
    margin-left: 20px;
    padding: 0px;
    width: 350px;
    
  }
  
  .contactList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    list-style: none;
    width: 350px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .contactList button {
    border: none;
    outline: none;
    background: none;
  }